body {
    display: flex;
    background-image: url("images/BG.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scan-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 100px;
    left: 0;
}

.scan-button {
    background: linear-gradient(180deg,#3a0db8,#1b0c47);
    color: white;
    font-family: 'Press Start 2P', "Monopik";
    font-size: 23px;
    padding: 30px 69px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(130, 50, 255,0.8);
    transition: 0.2s ease;
}

.scan-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(160, 80, 255,1);
}